.info-cart{
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    color: white;
    border-radius: 10px;
    padding-bottom: 30px;

    h2{
        font-size: 24px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: solid 1px #403d3d;
    }

    .remove-cart{
        font-size:20px;
        font-weight: bold;
        width: 140px;
        padding: 15px;
        border-radius: 15px;
        cursor: pointer;
        margin: 0px 0px 20px 10px;
    }

    .list-cart{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-color: white;
        color: black;
        border-radius: 10px;
        padding: 20px 0px 20px 0px;
        
        .cart-item{      
            display: flex;
            justify-content: space-between;
            gap: 20px;
            padding: 30px;

            img {
                //font-size: 26px;
                width: 150px;
                height: auto;
              }

            .card-title{
                width: 300px;
                font-size: 13px;
                font-weight: bold;
                line-height: 30px;
            }

            .card-total{
                width: 150px;
                font-size: 16px;
                display: flex;
                justify-content: space-between;
                gap: 15px;
                align-items: center;
            }
        }

        h4{
            font-size:20px;
        }

        .total{
            color: #39b54a;
        }
    }
}