.header {
    height: 150px;
    width: 100%;
    background-color: #4cb551;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .header__navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
  }
  
  .header__navbar-list {
    list-style: none;
    font-size: 14px;
    font-weight: bold;
  }
  
  .header__navbar-item {
    display: inline-block;
    margin: 0 10px;
    color: var(--white-color);
  }
  
  .header__navbar-icon {
    margin-left: 5px;
    color: var(--white-color);
  }
  
  .header__navbar-icon:hover {
    cursor: pointer;
    color: rgba(127, 131, 135, 0.7);
  }
  
  .header__navbar-icon .none-hover {
    cursor: text;
    color: var(--white-color);
  }
  
  .header_search {
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: space-between;
  }
  
  .header_search-logo {
    width: 150px;
    height: 100%;
  }
  
  .header_search-logo img {
    margin-top: 10px;
    margin-left: 30px;
    width: 100px;
    transform: translateX(50%);
  }
  
  .header_search-banner {
    display: block;
    position: relative;
  }
  
  .header_search-banner h1 {
    margin-top: 26px;
    transform: translateX(-85%);
  }
  
  .header_search-banner h2 {
    margin-top: 10px;
    transform: translateX(-85%);
  }
  
  .header_search-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header_search-input input {
    height: 35px;
    width: 350px;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    border: solid 1px #4cb551;
  }
  
  .header_search-input button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 70px;
    background-color: #4cb551;
    color: aliceblue;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    border: solid 1px;
  }
  
  .header_search-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
  }
  
  .header_search-cart .cart {
    font-size: 20px;
    margin: 0 auto;
    color: aliceblue;
    border: solid 1px aliceblue;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .header_search-cart .cart a {
    text-decoration: none;
    color: #fff;
  }
  
  
  